* {
    user-select: none;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    background: black;
}

.wrapper-galery {
    display: flex;
    justify-content: center;
    height: 598px;
    max-width: 100%;
    gap: 20px;

    .galery-img {
        background: aqua;
        height: 60%;
        filter: opacity(25%);
        zoom: normal;

        &:hover {
            filter: opacity(100%);
            zoom: unset;
        }
    }
}
