* {
    user-select: none;
    box-sizing: border-box;
    flex-wrap: wrap;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

body {
    background: black;
}

.wrapper-galery {
    display: flex;
    justify-content: center;
    height: 598px;
    max-width: 100%;
    gap: 20px;

    .galery-img {
        background: aqua;
        filter: opacity(25%);
        zoom: normal;
        border-radius: 5px;
        height: 60%;
        width: 100%;

        .imgs{
            position:relative;
            left:-5%;

            img{
                border-radius: 5px;
            }
            

        }

        .btn-groups {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 68%;
            right: 5%;
            visibility: hidden;
            z-index: 2;
            .bttns {
                background: $cyan;
                clip-path: circle(48%);
                cursor: pointer;
                color: white;
                height: 15%;
                object-fit: cover;
                padding: 4px;
                .img-fluid {
                    color: white;
                }
            }
        }
        &:hover {
            filter: opacity(90%);

            .btn-groups {
                visibility: visible;
            }
        }
    }
}
