* {
    user-select: none;
    box-sizing: border-box;
    flex-wrap: wrap;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    
}

body {
    background: black;
}

.wrapper-galery {
    display: flex;
    justify-content: center;
    height: 598px;
    max-width: 100%;
    gap: 20px;

    
    .galery-img {
        background: aqua;
        filter: opacity(50%);
        zoom: normal;
        border-radius: 5px;
        height: 60%;
        width: 100%;
        transition: all 0.3s ease-in-out;

        .imgs{
            position:relative;
            left:-5%;

            img{
                border-radius: 5px;
            }
            

        }

        .btn-groups {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 68%;
            right: 5%;
            visibility: hidden;
            z-index: 2;
            .bttns {
                
                clip-path: circle(48%);
                cursor: pointer;
                color: white;
                height: 15%;
                object-fit: cover;
                padding: 4px;
                .img-fluid {
                    color: white;
                }
            }
        }

        &:hover {
            filter: opacity(90%);

            .btn-groups {
                visibility: visible;
            }
        }
    }

    .slide-carrousel{
        display:none;
    }
    .actives{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.712);
        
        .icon-cross{
            position: absolute;
            top:5%;
            right: 2%;
            button{
                cursor: pointer;
            }
        }
        .sub-slide{
            position: relative;
            left:10%;
            max-width: 80%;
        }
    
    }
    .actives2{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.712);
        
        .icon-cross{
            position: absolute;
            top:5%;
            right: 2%;
            button{
                cursor: pointer;
            }
        }
        .sub-slide{
            position: relative;
            left:10%;
            max-width: 80%;
        }
    
    }
}




    
   

    .search-box{
        display: flex;
        align-items: center;
        height: 40px;
        background: transparent;
        border-radius:40px;
        position: fixed;
        top:15%;
        left: 3%;
        width: 0;
        transition:.5s ;


        input{
            display: none;
            color:white;
            width: 1%;
            line-height: 38px;
            text-align: start;
            padding-left: 7px;
            transition:.5s;
            &::placeholder{
                color: white;
            }
        }

        .search-btn{           
            background-color: $cyan;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            cursor: pointer;
           
        }
        &:hover{
            width: 17%;
            background-color: $cyan;
            
        
         input{
            display: flex;
            width: 82%;
            
            
        }
        .search-btn{
            transform:translateX(190px);
            background: white;
            
        }
    }
    }

